#Ignora os arquivos de banco de dados que são modificados pelo próprio sistema
/app/db/consultorio/mysql/innodb_index_stats.ibd
/app/db/consultorio/mysql/innodb_table_stats.ibd
/app/db/consultorio/projeto@002ddb/tabela_teste.ibd
/app/db/consultorio/aria_log_control
/app/db/consultorio/aria_log.00000001
/app/db/consultorio/ddl_recovery.log
/app/db/consultorio/ib_buffer_pool
/app/db/consultorio/ib_logfile0
/app/db/consultorio/ibdata1
app/consultorio/db/aria_log.00000001
app/consultorio/db/aria_log_control
app/consultorio/db/ddl_recovery.log