/* -----------------------------------------------------------------------
   1. GERAL
------------------------------------------------------------------------- */
* {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}


body{
	overflow-x: hidden;
	overflow-y: auto;
    
	
}

/* -----------------------------------------------------------------------
   2. HOME / Countdown styles
------------------------------------------------------------------------- */
.logo{
    padding-bottom: 5%;
}
.logo p{
    color: #ffffff;
    padding-top: 20px;
    font-style: italic;
}

#home .large-header {
	background-image: url("../images/pattern.png"),url('../images/img-3.png');
	background-position: center;
}

.home-main {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 30%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.btn-home{
	cursor: hand;	
	color: #ffffff;
	opacity: 0.8;
	font-size: 24px;
	padding: 20px 16px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	transition-duration: 0.4s;
	width: 150px;	
	height: 100px;
	cursor: pointer;
	position: absolute;
}

.btn-home:hover {
	background-color: #0f7dc5; 
	color: #ffffff;
}

.btn-home:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#btn-anamnese{
	background-color: #4CAF50;
	float: left;
	top: 100%;
	right: 60%;
}

#btn-agenda{
	background-color: #f44336;
	top: 300%;
	right: 60%;
}

#btn-consulta{
	background-color: #abf436;
	top: 100%;
	left: 60%;
}

#btn-outro{
	background-color: #f436de;
	top: 300%;
	left: 60%;
}