/* -----------------------------------------------------------------------
   1. GERAL
------------------------------------------------------------------------- */
body{
	overflow-x: hidden;
	overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

/* -----------------------------------------------------------------------
   2. HOME / Countdown styles
------------------------------------------------------------------------- */
.logo{
    padding-bottom: 5%;
}
.logo p{
    color: #ffffff;
    padding-top: 20px;
    font-style: italic;
}

#home .large-header {
	background-image: url("../images/pattern.png"),url('../images/img-3.png');
	background-position: center;
	/*background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.home-main {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#buttons_dashboard {
	display: block;
	margin: 0px auto;
	overflow: hidden
}

.dash {
	padding-bottom: 10px;
	position: relative;
	opacity: 1;
}

.dash_title {
	font-size: 16px;
	width: 100%;
	color: #bbbbbb;
	display: block;
	clear: both;
}
.digit {
	color: #f9f9f9;
	font-size: 60px;
	font-weight: 300;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	height: 110px;
	line-height: 110px;
	position: relative;
	vertical-align: middle;
}
