/* -----------------------------------------------------------------------
   1. GERAL
------------------------------------------------------------------------- */
* {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url("../images/pattern.png"),url('../images/img-3.png');
	background-position: center;
}

/* -----------------------------------------------------------------------
   2. HOME / Dashboard
------------------------------------------------------------------------- */

#home-main {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 25%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.logo{
    padding-bottom: 10%;
}

.logo p{
    color: #ffffff;
	font-family: 'Brush Script MT';
	font-size: 60px;
}

.logo p2{
    color: #ffffff;
    padding-top: 20px;
    font-style: italic;
	font-size: 15px;
}

.home-dashboard{

}

.btn-home{
	cursor: hand;	
	opacity: 0.7;
	font-size: 24px;
	border: 1px solid #ffffff;
	border-radius: 24px;
	transition-duration: 0.4s;
	width: 150px;	
	height: 100px;
	cursor: pointer;
	position: absolute;
	padding: 30px;
}

.btn-home p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	font-family: 'Bradley Hand', cursive;
	font-size: 25px;
	font-weight: 800;
	color: #ffffff;
	text-shadow: black 0.1em 0.1em 0.2em
}

.btn-home:hover {
	background-color: #0f7dc5 !important; 
	color: #ffffff;
}

.btn-home:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#btn-anamnese{
	background-color: #409643;
	float: left;
	top: 100%;
	right: 60%;
}

#btn-agenda{
	background-color: #d8d50d;
	top: 280%;
	right: 60%;
}

#btn-consulta{
	background-color: #ee9208;
	top: 100%;
	left: 60%;
}

#btn-outro{
	background-color: #f436de;
	top: 280%;
	left: 60%;
}

.footer p{
	font-family: 'Arial';
	font-size: 15px;
	color: #ffffff;
	text-align: center;
}